<p class="footer-entry"><%if(theme.bottom_text){%><%=theme.bottom_text%><%} else {%>©2017 <%=config.author%><%}%></p>
<p class="footer-entry">Built By <a href="https://www.github.com/lihongmi" target="_blank">rice</a> and <a href="https://www.itwu.top" target="_blank">itwu</a> theme</p>
